body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #ffffff;
}

#fondo-index {
    background: url('cafeteria_programacion.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

#color-fondo {
    background-color: white;
    color: #333;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    overflow: visible; /* Asegura que el contenido desplegable no afecte el tamaño */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
}

header h1 a {
    color: lightcoral;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    position: relative;
}

nav ul li {
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    color: teal;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    display: block;
}

nav ul li a[href="carrito_compras.html"] {
    color: #ff5722; /* Ajuste de color del enlace Carrito */
}

.dropdown-content {
    display: none;
    position: absolute; /* Asegura que el menú se posicione relativo al <li> */
    background-color: #35424a;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
    opacity: 0;
    transition: opacity 0.3s ease;
    top: 100%; /* Asegura que el menú se despliegue debajo del elemento */
    left: 0; /* Alinea el menú con el borde izquierdo del elemento padre */
}

/* Asegura que el dropdown-content se muestre al hacer hover */
nav ul li:hover .dropdown-content {
    display: block;
    opacity: 1;
}

main {
    padding: 20px;
    text-align: center;
}

.index_main {
    background-color: transparent;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilo para las imágenes de bebidas y comida */
.itemBebida,
.itemComida {
    display: flex;
    align-items: center;
    color: #333; /* Asegura que el texto sea visible */
}

.imgBebida,
.imgComida {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.itemComida p,
.itemBebida p {
    margin: 0;
    flex-grow: 1;
}

#carrito-total,
#titulo-carrito,
#encabezado-carrito {
    color: #333; /* Asegura que el texto del carrito sea visible */
}

#btn-finalizar {
    background-color: #4CAF50; /* Fondo verde */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px; /* Relleno */
    cursor: pointer; /* Cursor de mano */
    border-radius: 5px; /* Bordes redondeados */
    margin-left: 10px;
}

#btn-finalizar:hover {
    background-color: #45a049; /* Fondo más oscuro al pasar el ratón */
}

button {
    background-color: #4CAF50; /* Fondo verde */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px; /* Relleno */
    cursor: pointer; /* Cursor de mano */
    border-radius: 5px; /* Bordes redondeados */
    margin-left: 10px;
}

button:hover {
    background-color: #45a049; /* Fondo más oscuro al pasar el ratón */
}

/* Estilos para el carrito desplegable */
.carrito {
    position: absolute;
    top: 20px; /* Ajusta este valor alinearlo verticalmente */
    right: 20px; /* Ajusta este valor para alinearlo horizontalmente */
}

.carrito-boton {
    background-color: #4CAF50; /* Color verde */
    color: white; /* Texto blanco */
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
}

.carrito-contenido {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    padding: 12px 16px;
    color: black;
}

.carrito:hover .carrito-contenido {
    display: block;
}
